#top {
  background-color: #ff9966;
  height: 200px;
}

h1 {
  align-content: center;
  font-size: 100px;
  margin-left: 40%;
  margin-top: 2.5%;
}

#sidebar {
  background-color: #339966;
  margin-top: 50px;
  column-fill: auto;
}


h4 {
  color:#ff9966;
  margin-left: 10px;
}

#p {
  margin-left: 10px;
}

#m {
  color: white;
  margin-left: 10px;
  font-size: 30px;
}

#h {
  color: blue;
  margin-left: 10px;
  font-size: 30px;
}

#j {
  color: white;
  margin-left: 10px;
  font-size: 30px;
}

#whole {
  background-color: gainsboro;
  height: auto;
}
h3 {
  margin-top: 50px;
}

button {
  background-color: #787878;
}
