/*#top {
  background-color: #ff9966;
  height: 200px;
}*/

* {
  margin: 0;
  padding: -40;
}
body {
  background-image: url("../img/pingpong.jpg");
  background-repeat: no-repeat;
  background-size:cover;
}

h1 {
  align-content: center;
  font-size: 100px;
  margin-left: 40%;
  margin-top: 1.5%;
  /*background-color: gainsboro;*/
}

/*#sidebar {
  background-color: #339966;
  margin-top: 50px;
  column-fill: auto;
}*/

h4 {
  color: #ff9966;
  margin-left: 10px;
}

#p {
  margin-left: 10px;
  margin-bottom: 20px;
  color: #663096;
}

#m {
  color: blue;
  margin-left: 10px;
  font-size: 30px;
}

#h {
  color: blue;
  margin-left: 10px;
  font-size: 30px;
}

#j {
  color: blue;
  margin-left: 10px;
  font-size: 30px;
}

/*#whole {
  background-color: gainsboro;
  height: auto;
}*/

h3 {
  margin-top: 50px;
  margin-left: 10px;
  color: #663096;
}

button {
  background-color: #787878;
}

img {
  background-image: url(../img/shiny-lottery-balls.jpg);
}

#results {
  height: 500px;
  overflow-y: scroll;
}
h5 {
  margin-left: 10px;
}

p {
  margin-left: 10px;
}
